.QuoteBox {
  width: 50vw;
  min-width: 400px;
  position: absolute;
  z-index: 200;
  height: 80vh;
  display: grid;
  grid-template-areas:
    "quote quote quote"
    "tweet tweet author";
  grid-template-rows: 61.8% 38.19%;
  grid-template-columns: 14.6% 23.6% 61.8%;
  font-family: "Peddana", serif;
}
